body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('Images/cover1.jpeg');
  background-size: cover;
  background-repeat: no-repeat; 
  margin:0;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  height: 100vh;
}

.text-center {
  text-align: center;
}

.imag {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  border-radius: 50%;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}
.card-text {
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #006233;
  color: white;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap:2px;
}


.button-container {
  position: absolute;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease;

}
.button-container button:hover {
  background-color: #555; 
  color: white; 
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  body {
  overflow-x: hidden;
   width:100%;
 }
  
  .container {
    margin: 20px;
  }
  .imag {
    width: 150px;
    height: 150px;
  }
  .flip-card {
    width: 250px;
    height: 250px;
  }
  .card-text {
    font-size: 16px;
    margin-top: 30px;
  }
  .button-container {
    bottom: 10px;
  }
}
